<!DOCTYPE html>
<html>
<head>
    <title>Sign Up - MCTutorials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="nav-left">
        <a href="/">Home</a>
        <a href="/redstone">Redstone</a>
        <a href="/buildings">Buildings</a>
        <a href="/farms">Farms</a>
    </div>

    <a href="/signup" class="signup-button">SIGN UP</a>
</nav>

<div class="signup-container">

    <h1>Create an Account</h1>

    <form>
        <input type="text" placeholder="Username">

        <input type="password" placeholder="Password">

        <button type="submit">Sign Up</button>
    </form>

</div>

</body>
</html>
